{% extends 'home.html' %}
{% load static %}
{% block content %}
  <head>
    <style>
      .food-form {
        font-size: 14px;
      }
    </style>
  </head>

  <div class="food-form">
    {% if food %}
      <h3>Edit Food</h3>
    {% else %}
      <h3>Add Food</h3>
    {% endif %}
    <form action="" method="POST" class="my-5">
      {% csrf_token %}
      <table class="table">
        <tbody>
          {{ form.as_table }}
        </tbody>
      </table>
      <input type="submit" class="btn btn-success" value="Submit">
      {% if food %}
        <a class="btn btn-danger ml-3" href="{% url 'deleteFood' id=food.pk %}"
          onclick="return confirm('Are you sure want to delete this food?');">
          Delete
        </a>
      {% endif %}
      <a class="btn btn-primary ml-3" href="{% url 'home' %}">
        Home
      </a>
    </form>
  </div>
{% endblock %}
